<% if !current_user.nil? %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Tasks</span>
      <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' if current_user.role %>
    </h2>
    
      
    <% @tasks.each do |task| %>
      <%= link_to task, class: 'text-decoration-none' do %>
        <div class="card project-card mb-3">
          <div class="card-body">
          <% if current_user.email == task.created_by %>
            <div class="mb-3">
              <span class="badge badge-<%= task.badge_color %>">
                <%= task.status %>
              </span>
              <span class='text-secondary'>
                <small>
                  <%= task.percent_complete %>% complete
                  (<%= task.total_complete %>/<%= task.total_works %> works)
                </small>
              </span>
            </div>
            <h5 class='card-title text-dark'><b><%= task.name %></b></h5>
            <p class='text-secondary'><%= task.description %></p>
<!--          <%#Not working%> 
          <%if current_user.role%>
            <div class="dropdown" style="display:inline-block;">
            <button id="assign_to-select-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Assign to
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <% @users = User.all %>
            <% @users.each do |user| %>
              <%= select_tag(:assign_to, user.email) %>
              <%# task.assign_to = :assign_to %>
            <% end %>
        </ul>
        
</div>
        <% end %> !-->
    <%# @users = @users.to_a %>
    <%# @users.each do |user| %>
    <%#= select_tag(task.assign_to, '/users/index') %>
    <%# end %>
    <%#= render '/users/index' %>
  </div>
</div>

          <% elsif task.assign_to == resource.email %>
            <div class="mb-3">
              <span class="badge badge-<%= task.badge_color %>">
                <%= task.status %>
              </span>
              <span class='text-secondary'>
                <small>
                  <%= task.percent_complete %>% complete
                  (<%= task.total_complete %>/<%= task.total_works %> works)
                </small>
              </span>
            </div>
            <h5 class='card-title text-dark'><b><%= task.name %></b></h5>
            <p class='text-secondary'><%= task.description %></p>
          <% end %>
          </div>
        </div>
        <%#= will_paginate @tasks%>
      <% end %>
      <%#= will_paginate @tasks%>
    <% end %>
    <%= will_paginate @tasks%>
  </div>
</div>
<% else %>
<h6> Not looged in </h6>
<%= link_to "Sign Up", '/users/sign_up' %>
<% end %>
